.cart-top {
    background-image: url(./images/cartbg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 126px;

    &__title {
        font-weight: 600;
        font-size: 64px;
        line-height: 70px;
        margin: 127px 0 16px 0;
        color: rgb(255, 255, 255);
        text-align: left;
    }
}

.separation {
    border-top: 0.5px solid #CACDD8;
    margin-top: 14px;
}

@keyframes orderButtonAnimation {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.05);
    }
    50% {
        transform: scale(1.1);
    }
    75% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

.cart {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 33px;
    margin-top: 64px;
    
    &__header {
        display: flex;
        justify-self: start;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        font-weight: 400;
        font-size: 16px;
        line-height: 100%;
        vertical-align: middle;
        margin-bottom: 25px;
    }

    &__product {
        display: flex;
        padding: 25px 0 18px;
    }

     &__product-image {
        height: 173px;
        width: 173px;
    }

    &__product-title {
        font-weight: 500;
        font-size: 24px;
        line-height: 100%;
    }

    &__product-info {
        padding: 0 235px 0 32px;
    }

    &__product-description {
        font-weight: 400;
        font-size: 14px;
        line-height: 100%;
        color: #888888;
        margin: 14px 0 16px;
    }

    &__product-price {
        font-weight: 500;
        font-size: 16px;
        line-height: 100%;
        vertical-align: middle;
        margin-bottom: 15px;
    }

    &__product-links {
        display: flex;
        gap: 30px;
        width: 100%;
        font-weight: 400;
        font-size: 14px;
        line-height: 210%;
        vertical-align: middle;
        text-decoration: underline;
        text-decoration-style: solid;
        text-decoration-thickness: 0%;
    }

    &__product-link:hover {
        opacity: 0.7;
    }

    &__product-quantity {
        justify-self: end;
    }

    &__product-quantity-input {   
        width: 71px;
        height: 51px;
        text-align: center;
        font-family: Poppins;
        font-weight: 600;
        font-size: 14px;
        line-height: 210%;
        vertical-align: middle;
        background-color: #F7F6F6;
        border: none;
        border-radius: 6px;
    }

    &__empty {
        margin-top: 50px;
    }

    &__empty-btn {
        font-family: $font-stack;
        background-color: transparent;
        width: 200;
        height: 37;
        opacity: 1;
        border-width: 1px;
        border-radius: 50px;
        transition: background-color 0.3s ease;
    }

    &__empty-btn:hover {
        background: #000;
        color: white;
        transform: translateY(-2px);
        box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    }

    &__form {
        display: flex;
        flex-direction: column;
        justify-self: end;
        border-radius: 20px;
        width: 100%;
        background-color: #F7F6F6;
        padding: 0 45px 0 45px;
    }

    &__form-title {
        font-family: $font-stack;
        font-weight: 700;
        font-size: 24px;
        line-height: 100%;
        text-align: center;
        vertical-align: middle;
        margin: 42px 0 35px;
    }

    &__form-data {
        font-family: $font-stack;
        font-weight: 400;
        font-size: 14px;
        line-height: 100%;
        vertical-align: middle;
        color: #000000;
        margin-bottom: 44px;
        background-color: transparent;
        border-color: transparent;
        border-bottom-color: #CACDD8;
    }

    &__form-data::placeholder {
        color: #000000;
    }

    &__form-price {
        font-weight: 500;
        font-size: 24px;
        line-height: 100%;
        text-align: center;
        vertical-align: middle;
        margin: 20px 0 18px;
    }

    &__form-button {
        width: 290;
        height: 41;
        opacity: 1;
        border-width: 1px;
        border-radius: 20px;
        background-color: transparent;
        font-family: $font-stack;
        font-weight: 400;
        font-size: 16px;
        line-height: 100%;
        text-align: center;
        vertical-align: middle;
        transition: all 0.3s ease;
        animation-name: orderButtonAnimation;
        animation-duration: 1s;
        animation-iteration-count: 3;
        animation-timing-function: ease-in-out;
    }

    &__form-button:hover {
        background: #000;
        color: white;
        transform: scale(1.1);
        transition: transform 0.3s ease;
    }

}