@media (max-width: 767px) {
    .center {
        padding: 0 16px 0 16px;
    }

    .menu-mob {
        display: block;
        display: flex;
        align-items: center;
        gap: 32px;
    }

    .header {
        border: none;
        padding-top: 32px;
        &__logo {
            width: 99px;
        }

        &__search {
            display: none;
        }
    }
    .nav {
        display: none;
    }
    .hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 359px;

        &__title {
            font-size: 48px;
            line-height: 59px;
            text-align: center;
            margin-top: 29px;
        }
        &__subtitle {            
            font-size: 16px;
            text-align: center;
        }
        &__link {
            font-size: 14px;
            text-align: center;
        }
    }
    .heading {
        margin-top: 32px;
        font-size: 24px;
    }
    .for {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;  

        &__item {
            min-height: 375px;
        }

        &__item_big {
            grid-column: span 4;
            min-height: 245px;
        }   

    }

    .offers {
        &__title {
            font-size: 24px;
        }
        &__content {
            display: grid;
        }
    }
    .catalog {
        &__title {
            font-size: 24px;
        }
        &__content {
            display: grid;
            grid-template-columns: 1fr;
            gap: 32px;
        }
    }
        .catalog-top {
        min-height: 400px;
        background-size: initial;
    }
    .cart-top {
        min-height: 400px;
    }

    .cart {
        margin-top: 78px;
        grid-template-columns: 1fr;
        &__header {
            display: none;           
        }

        &__product {
            justify-content: space-between;
        }

        &__product-title {
            font-size: 18px;
        }

        &__product-image {
            display: none;
        }

        &__product-info {
            padding: 0;
        }

        &__product-price {
            font-size: 16px;
        }

        &__empty {
            display: flex;
            justify-content: space-between;
            gap: 14px;
            padding-bottom: 15px;
        }

        &__empty-btn {
            font-size: 12px;
        }

        &__product-quantity-input {
            justify-self: end;
        }

        &__empty-btn--continue {
            justify-self: end;
        }

        &__form {
            margin-top: 26px;
            justify-content: center;
            align-items: center;
            padding-bottom: 154px;
        }

        &__form-data {
            width: 100%;
        }

    }
    .product-card {

        &__title {
            font-size: 18px;
        }
        &__description {
            font-size: 14px;
        }
        &__price {
            font-size: 18px;
        }

        &__price--current {
            margin-right: 57px;
        }
    }
    .catalog-bottom {
        padding: 36px 0 36px 17.5px;
    }

    .ordering {
        display: grid;
        margin: 39px 0 32px;

        &__links {
            margin-bottom: 22px;
        }

        &__filters {
            display: grid;
        }

        &__link {
            font-size: 14px;
        }

        &__filter {
            font-size: 14px;
        }
    }

    .filter-form {
        max-height: 910px;
        width: 286.5px;
        height: 910px;
        left: 70%;
        
        &__content {
            grid-template-columns: auto;
            gap: 32px;
        }

        &__submit {
            margin-top: 4px;
        }

        &__options-grid {
            display: grid;
            grid-template-columns: repeat(7 , 1fr);
        }
    }

    .footer {
        display: grid;
        grid-template-areas: 
            "left right"
            "bottom bottom";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        padding-bottom: 32px;

        &__logo {
            display: none;
        }

        &__section-right {
            justify-self: end;
        }

        &__section-bottom {
            grid-column: 1 / -1;
            grid-row: 2;
            width: 50%;
            justify-self: center;
        }
    }
}
