@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

body {
  font-family: Montserrat, ital;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.top {
  background-image: url(./images/bghero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 335.52px;
}

.catalog-top {
  background-image: url(./images/catbg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 126px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0px;
  border-bottom: 0.5px solid #FFFFFF;
}
.header__search {
  border: 1px solid rgb(255, 255, 255);
  border-radius: 20px;
  width: 288px;
  font-size: 16px;
  font-weight: 400;
  background: transparent;
  padding: 10.5px 32px 10.5px 32px;
  color: white;
  font-family: Montserrat, ital;
}
.header__search::-moz-placeholder {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  text-align: left;
  font-family: Montserrat, ital;
}
.header__search::placeholder {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  text-align: left;
  font-family: Montserrat, ital;
}

.nav {
  margin-right: 12px;
}
.nav__list {
  width: 170px;
  height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: clamp(16px, 4vw, 32px);
  margin: 12px 8px 12px 12px;
}
.nav__link {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  text-align: left;
  text-decoration: none;
}

.menu-mob {
  display: none;
}

.hero__title {
  font-weight: 600;
  font-size: 64px;
  line-height: 70px;
  margin: 127px 0 16px 0;
  color: rgb(255, 255, 255);
  text-align: left;
}
.hero__subtitle {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 16px;
  color: rgb(255, 255, 255);
  font-weight: 400;
  text-align: left;
}
.hero__link {
  font-size: 16px;
  line-height: 24px;
  color: rgb(255, 255, 255);
  font-weight: 400;
  text-align: left;
  text-decoration-line: underline;
}
.hero__link:hover {
  opacity: 0.7;
  text-decoration-line: none;
}

.for-box {
  padding-top: 64px;
}

.heading {
  font-weight: 600;
  font-size: 48px;
  line-height: 100%;
}

.ordering {
  margin: 64px 0 41px 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
  width: 100%;
  height: 100%;
}
.ordering__links {
  display: flex;
  align-items: center;
  gap: 10px;
}
.ordering__link {
  font-family: Montserrat, ital;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}
.ordering__separator {
  margin: 0;
}
.ordering__filters {
  display: flex;
  position: relative;
  gap: 10px;
  font-family: Montserrat, ital;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
}
.ordering__filter {
  font-family: Montserrat, ital;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px 40px 10px 15px;
  font-size: 16px;
  border-radius: 20px;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23000000%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
  background-position: calc(100% - 20px);
  background-size: 10px;
  background-repeat: no-repeat;
}

.filter-form {
  position: absolute;
  top: calc(100% + 10px);
  transform: translateX(-50%);
  left: -27%;
  width: 525.5px;
  height: 548px;
  max-width: 541.5px;
  max-height: 548px;
  background: #ffffff;
  z-index: 1000;
  padding: 2rem;
  box-shadow: 0px 4px 67px -12px rgba(0, 0, 0, 0.3215686275);
}
.filter-form__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 65px;
  height: 100%;
}
.filter-form__left, .filter-form__right {
  display: flex;
  flex-direction: column;
}
.filter-form__legend {
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 100%;
  vertical-align: middle;
  margin-bottom: 16px;
}
.filter-form__option {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  margin-bottom: 14px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.filter-form__option input[type=radio] {
  display: none;
}
.filter-form__option label {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  padding-left: 38px;
  min-height: 24px;
}
.filter-form__option label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 14px;
  height: 14px;
  border: 1px solid rgb(136, 136, 136);
  border-radius: 50%;
  background: #FFFFFF;
}
.filter-form__option input[type=radio]:checked + label::before {
  border-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='black' d='M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z'/%3E%3C/svg%3E");
  background-size: 14px;
  background-position: center;
  background-repeat: no-repeat;
}
.filter-form__color {
  position: relative;
  display: inline-block;
}
.filter-form__color input[type=checkbox] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
.filter-form__color input[type=checkbox]:checked + .color-swatch {
  outline: 0.5px solid #333;
  transform: scale(1.1);
}
.filter-form__color input[type=checkbox]:checked + .color-swatch::after {
  content: "✓";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-weight: bold;
  font-size: 10px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.filter-form__options-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
}
.filter-form__range-slider {
  position: relative;
  height: 1px;
  background: black;
  border-radius: 1px;
  margin: 20px 0;
}
.filter-form__range-input {
  position: absolute;
  width: 100%;
  height: 1px;
  background: transparent;
  pointer-events: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  top: 0;
  left: 0;
  margin: 0;
}
.filter-form__range-input::-webkit-slider-thumb {
  pointer-events: all;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #000;
  border: 2px solid #000;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  z-index: 2;
}
.filter-form__range-labels {
  display: flex;
  justify-content: space-between;
  gap: 14px;
  margin: 10px 0;
}
.filter-form__range-label {
  white-space: nowrap;
  font-size: 14px;
  color: rgb(0, 0, 0);
  font-weight: 400;
  line-height: 100%;
  text-align: left;
}
.filter-form__type {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  margin-bottom: 14px;
  display: flex;
  align-items: center;
}
.filter-form__type input[type=checkbox] {
  display: none;
}
.filter-form__type label {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  padding-left: 25px;
}
.filter-form__type label::before {
  content: "";
  position: absolute;
  left: 0;
  width: 14px;
  height: 14px;
  border: 1px solid rgb(136, 136, 136);
  background: white;
  border-radius: 2px;
}
.filter-form__type input[type=checkbox]:checked + label::before {
  border-color: #000;
  background: white url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='black' d='M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z'/%3E%3C/svg%3E") center/12px no-repeat;
}
.filter-form__submit {
  font-family: Montserrat, ital;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  background-color: #fff;
  text-align: center;
  vertical-align: middle;
  box-sizing: border-box;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 20px;
  padding: 10px 46.5px 10px 46.5px;
  margin-top: 98px;
  transition: all 0.4s ease;
}
.filter-form__submit:hover {
  background: #000;
  color: white;
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

fieldset {
  border: none;
}

.color-swatch {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 1px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.color-swatch:hover {
  transform: scale(1.1);
}

.for {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(12, 1fr);
  margin-top: 32px;
  grid-template-rows: 415px 415px;
}
.for__item {
  display: flex;
  grid-column: span 4;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-weight: 600;
  font-size: 34px;
  line-height: 100%;
  color: rgb(255, 255, 255);
  justify-content: center;
  align-items: center;
}
.for__item_big {
  grid-column: span 6;
  grid-row: span 1;
}
.for__item_1 {
  background-image: url(images/for-1.png);
}
.for__item_2 {
  background-image: url(images/for-2.png);
}
.for__item_3 {
  background-image: url(images/for-3.png);
}
.for__item_4 {
  background-image: url(images/for-4.png);
}
.for__item_5 {
  background-image: url(images/for-5.png);
}

.offers__content {
  display: flex;
  gap: 32px;
}
.offers__title {
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  color: #000000;
  margin: 64px 0 32px 0;
}

.catalog__title {
  font-size: 48px;
  font-weight: 600;
  line-height: 100%;
  text-align: left;
  margin: 64px 0 32px 0;
}
.catalog__content {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 32px;
}

.product-card {
  flex: 0 0 calc(33.333% - 21.3333333333px);
}
.product-card__image {
  width: 100%;
  display: block;
  margin-bottom: 10px;
}
.product-card__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-bottom: 8px;
}
.product-card__description {
  font-size: 14px;
  line-height: 17px;
  color: #888888;
  margin-bottom: 12px;
}
.product-card__prices {
  display: flex;
  align-items: center;
}
.product-card__price--current {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #050505;
  margin-right: 32px;
}
.product-card__price--old {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #888888;
}

.catalog-bottom {
  padding-bottom: 64px;
  padding-top: 31px;
}
.catalog-bottom__link {
  color: rgb(0, 0, 0);
  font-family: Montserrat, ital;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-decoration-line: underline;
}
.catalog-bottom__link:hover {
  opacity: 0.7;
  text-decoration-line: none;
}

.footer {
  background: rgb(247, 246, 246);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.footer__logo-image--black {
  filter: brightness(0%) invert(0%);
  margin-top: 32px;
}
.footer__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-bottom: 12px;
}
.footer__nav {
  margin-bottom: 59px;
}
.footer__nav-item {
  margin-bottom: 12px;
}
.footer__nav-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #888888;
  text-decoration: none;
}
.footer__contacts-item {
  margin-bottom: 12px;
}
.footer__contacts-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #888888;
  text-decoration: none;
}
.footer__social {
  display: flex;
  gap: 20px;
}
.footer__social-link {
  display: inline-block;
}
.footer__social-icon {
  width: 24px;
  height: 24px;
}
.footer__social-icon:hover {
  filter: brightness(0);
}
.footer__subscribe {
  margin-right: 24px;
}
.footer__subscribe-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 100%;
  color: #000000;
  margin-bottom: 8px;
  width: 251px;
}
.footer__section {
  margin-top: 32px;
}
.footer__subscribe-input {
  background: #FFFFFF;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 20px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #C4C4C4;
  padding: 12px 17px;
  width: 260px;
  font-family: Montserrat, ital;
}
.footer__subscribe-input::-moz-placeholder {
  font-family: Montserrat, ital;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}
.footer__subscribe-input::placeholder {
  font-family: Montserrat, ital;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}
.footer__subscribe-button {
  background: rgba(222, 215, 215, 0.41);
  border: none;
  box-sizing: border-box;
  border-radius: 20px;
  width: 260px;
  height: 40px;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #000000;
  margin-top: 8px;
  font-family: Montserrat, ital;
  transition: background-color 0.3s ease;
}
.footer__subscribe-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  background-color: #000000;
  color: #FFFFFF;
}

/* Общие стили для ссылок */
a:hover {
  text-decoration: underline;
}

.cart-top {
  background-image: url(./images/cartbg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 126px;
}
.cart-top__title {
  font-weight: 600;
  font-size: 64px;
  line-height: 70px;
  margin: 127px 0 16px 0;
  color: rgb(255, 255, 255);
  text-align: left;
}

.separation {
  border-top: 0.5px solid #CACDD8;
  margin-top: 14px;
}

@keyframes orderButtonAnimation {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.05);
  }
  50% {
    transform: scale(1.1);
  }
  75% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
.cart {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 33px;
  margin-top: 64px;
}
.cart__header {
  display: flex;
  justify-self: start;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  vertical-align: middle;
  margin-bottom: 25px;
}
.cart__product {
  display: flex;
  padding: 25px 0 18px;
}
.cart__product-image {
  height: 173px;
  width: 173px;
}
.cart__product-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
}
.cart__product-info {
  padding: 0 235px 0 32px;
}
.cart__product-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #888888;
  margin: 14px 0 16px;
}
.cart__product-price {
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  vertical-align: middle;
  margin-bottom: 15px;
}
.cart__product-links {
  display: flex;
  gap: 30px;
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 210%;
  vertical-align: middle;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 0%;
}
.cart__product-link:hover {
  opacity: 0.7;
}
.cart__product-quantity {
  justify-self: end;
}
.cart__product-quantity-input {
  width: 71px;
  height: 51px;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  font-size: 14px;
  line-height: 210%;
  vertical-align: middle;
  background-color: #F7F6F6;
  border: none;
  border-radius: 6px;
}
.cart__empty {
  margin-top: 50px;
}
.cart__empty-btn {
  font-family: Montserrat, ital;
  background-color: transparent;
  width: 200;
  height: 37;
  opacity: 1;
  border-width: 1px;
  border-radius: 50px;
  transition: background-color 0.3s ease;
}
.cart__empty-btn:hover {
  background: #000;
  color: white;
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.cart__form {
  display: flex;
  flex-direction: column;
  justify-self: end;
  border-radius: 20px;
  width: 100%;
  background-color: #F7F6F6;
  padding: 0 45px 0 45px;
}
.cart__form-title {
  font-family: Montserrat, ital;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  text-align: center;
  vertical-align: middle;
  margin: 42px 0 35px;
}
.cart__form-data {
  font-family: Montserrat, ital;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  vertical-align: middle;
  color: #000000;
  margin-bottom: 44px;
  background-color: transparent;
  border-color: transparent;
  border-bottom-color: #CACDD8;
}
.cart__form-data::-moz-placeholder {
  color: #000000;
}
.cart__form-data::placeholder {
  color: #000000;
}
.cart__form-price {
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  text-align: center;
  vertical-align: middle;
  margin: 20px 0 18px;
}
.cart__form-button {
  width: 290;
  height: 41;
  opacity: 1;
  border-width: 1px;
  border-radius: 20px;
  background-color: transparent;
  font-family: Montserrat, ital;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  vertical-align: middle;
  transition: all 0.3s ease;
  animation-name: orderButtonAnimation;
  animation-duration: 1s;
  animation-iteration-count: 3;
  animation-timing-function: ease-in-out;
}
.cart__form-button:hover {
  background: #000;
  color: white;
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

@media (max-width: 767px) {
  .center {
    padding: 0 16px 0 16px;
  }
  .menu-mob {
    display: block;
    display: flex;
    align-items: center;
    gap: 32px;
  }
  .header {
    border: none;
    padding-top: 32px;
  }
  .header__logo {
    width: 99px;
  }
  .header__search {
    display: none;
  }
  .nav {
    display: none;
  }
  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 359px;
  }
  .hero__title {
    font-size: 48px;
    line-height: 59px;
    text-align: center;
    margin-top: 29px;
  }
  .hero__subtitle {
    font-size: 16px;
    text-align: center;
  }
  .hero__link {
    font-size: 14px;
    text-align: center;
  }
  .heading {
    margin-top: 32px;
    font-size: 24px;
  }
  .for {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
  }
  .for__item {
    min-height: 375px;
  }
  .for__item_big {
    grid-column: span 4;
    min-height: 245px;
  }
  .offers__title {
    font-size: 24px;
  }
  .offers__content {
    display: grid;
  }
  .catalog__title {
    font-size: 24px;
  }
  .catalog__content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px;
  }
  .catalog-top {
    min-height: 400px;
    background-size: initial;
  }
  .cart-top {
    min-height: 400px;
  }
  .cart {
    margin-top: 78px;
    grid-template-columns: 1fr;
  }
  .cart__header {
    display: none;
  }
  .cart__product {
    justify-content: space-between;
  }
  .cart__product-title {
    font-size: 18px;
  }
  .cart__product-image {
    display: none;
  }
  .cart__product-info {
    padding: 0;
  }
  .cart__product-price {
    font-size: 16px;
  }
  .cart__empty {
    display: flex;
    justify-content: space-between;
    gap: 14px;
    padding-bottom: 15px;
  }
  .cart__empty-btn {
    font-size: 12px;
  }
  .cart__product-quantity-input {
    justify-self: end;
  }
  .cart__empty-btn--continue {
    justify-self: end;
  }
  .cart__form {
    margin-top: 26px;
    justify-content: center;
    align-items: center;
    padding-bottom: 154px;
  }
  .cart__form-data {
    width: 100%;
  }
  .product-card__title {
    font-size: 18px;
  }
  .product-card__description {
    font-size: 14px;
  }
  .product-card__price {
    font-size: 18px;
  }
  .product-card__price--current {
    margin-right: 57px;
  }
  .catalog-bottom {
    padding: 36px 0 36px;
  }
  .ordering {
    display: grid;
    margin: 39px 0 32px;
  }
  .ordering__links {
    margin-bottom: 22px;
  }
  .ordering__filters {
    display: grid;
  }
  .ordering__link {
    font-size: 14px;
  }
  .ordering__filter {
    font-size: 14px;
  }
  .filter-form {
    max-height: 910px;
    width: 286.5px;
    height: 910px;
    left: 70%;
  }
  .filter-form__content {
    grid-template-columns: auto;
    gap: 32px;
  }
  .filter-form__submit {
    margin-top: 4px;
  }
  .filter-form__options-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
  }
  .footer {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    padding-bottom: 32px;
  }
  .footer__logo {
    display: none;
  }
  .footer__section-right {
    justify-self: end;
  }
  .footer__section-bottom {
    grid-column: 1/-1;
    grid-row: 2;
    width: 50%;
    justify-self: center;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .center {
    padding: 0 24px 0 24px;
  }
  .cart-top__title {
    padding-bottom: 127px;
  }
  .hero {
    padding-bottom: 374px;
  }
  .heading {
    padding-top: 64px;
  }
  .cart {
    grid-template-columns: auto;
  }
  .cart__form {
    justify-self: start;
    width: 378px;
    height: 556px;
  }
  .for {
    grid-template-rows: auto;
  }
  .for__item {
    height: 37vh;
  }
  .offers__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .catalog__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .catalog-bottom {
    margin: 32px 0 68px;
  }
  .footer {
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
  }
  .footer__logo {
    display: none;
  }
  .footer.footer__section-bottom {
    justify-self: end;
  }
}/*# sourceMappingURL=style.css.map */